@tailwind base;

@layer base {

  label.default {
    @apply block mb-2 text-sm font-medium
  }

  select.default {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5 capitalize
  }

  input.default {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5
  }

  button.default {
    @apply text-white bg-blue-500 hover:brightness-90 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center capitalize
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}